<!-- <h1>Farmars#index</h1> -->

  <section class= "homepage-photo">
    <p><%= link_to("Markets", markets_path) %></p>
    <%= link_to image_tag("market.jpg"), markets_path%>
  </section>

  <section class= "homepage-photo">
    <p><%= link_to("Vendors", vendors_path) %></p>
    <%= link_to image_tag("vendor.jpg"), vendors_path%>
  </section>
