<h1>Vendors#index</h1>

  <h1>Vendor List</h1>

  <% @vendors.each do |vendor| %>

    <h2><%= link_to("#{vendor.name}", vendors_show_path(vendor[:id])) %></h2>

    <%end %>

<!-- <p>Find me in app/views/vendors/index.html.erb</p> -->
