<h2>Hello, <%=@vendor_of_interest.name%>!</h2>

<h3>Products</h3>

<h2><%= link_to("Add New Product", product_new_path) %></h2>

<h3>Sales</h3>

<h2><%= link_to("Add New Sale", sale_new_path) %></h2>




<!-- <p>Find me in app/views/vendors/show.html.erb</p> -->
